body {
    margin: 1px;
    background-color: aliceblue;
}

.navbar {
    background-color: rgba(11, 32, 153, 0.829);
}

#imagenperfil {
    width: 200px;
    border-radius: 10px;
}

.row {
    padding-bottom: 50px;
}


h1 {
    color: navy;
}

.d-block {
    width: 45rem;
}

.formacion, li {
    margin-top: 15px;
}

h3 {
    padding-left: 5%;
}

footer {
    justify-items: center;
    
}

h6 {
    padding-bottom: 20px;
}