body {
    margin: 0px;    border: 0px;    padding: 0px;

}

.navbar {
    background-color: rgba(11, 32, 153, 0.829);
}

#imagenperfil {
    width: 200px;    border-radius: 10px;
}

.row {
    padding-bottom: 40px;
}

h1 {
    color: navy;
}

h3 {
    text-align: center;
}

.d-block {
    width: 45rem;
}

.formacion,
li {
    margin-top: 15px;
}

.lista2 {
    display: grid;    justify-content: center;
    padding: 2%;
}

.logos {
    padding: 0%;    margin: 0%;    border: 0%;
}

.logos img {

    display: flex;    justify-content: center;
    text-align: center;    margin-left: 5px;
}

.redes {
    display: flex;    justify-content: center;
    justify-content: space-evenly;
}

h6 {
    margin-top:10px; padding-bottom:20px;
}