body {
    margin: 1px;

}

.navbar {
    background-color: rgba(11, 32, 153, 0.829);
}

#imagenperfil {
    width: 200px;
    border-radius: 10px;
}

.row {
    padding-bottom: 40px;
}

h1 {
    color: navy;
}

h3 {
    text-align: center;
}

.d-block {
    width: 45rem;
}

.formacion,
li {
    margin-top: 15px;
}

.lista2 {
    display: grid;
    justify-content: center;
    padding: 2%;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 0%;
    
}

footer {
    padding: 10px 10 px 10px 10px;
}

footer .a {
    justify-items: center;
    align-content: space-between;

}

h6 {
    margin-top: 10px;
    padding-bottom: 20px;
}
